.users{
    padding: 20px;
    // overflow: hidden;
    .top_content{
       box-shadow: 2px 4px 5px 1px #c9c9c978;   
       padding: 15px 10px;
       background-color: #f0f0f0;
       display: flex;
       align-items: center;
       justify-content: space-between;
       border-radius: 10px;
       border-left: 3px solid #0e5c6b;
       border-right: 3px solid #0e5c6b;
       margin-bottom: 25px;
 
       h1{
        color: #0e5c6b;
        font-weight: 300;
        font-size: 16px;
       }
       .search{
        width: 400px;
        display: flex;
        align-items: center;
        border: 0.5px solid lightgray;
        padding: 3px;
        padding: 8px 5px;
        border-radius: 5px;
        input{
            width: 100%;
            border: none;
            outline: none;
            font-size: 14px;
            background-color: transparent;
            letter-spacing: 1px;
        }
        .icon{
            font-size: 18px;
            margin-left: 10px;
        }
    }
           button{
            padding: 8px 12px;
            border: 1px solid #062a3c;
            background-color: #062a3c;
            border-radius: 5px;
            cursor: pointer;
            a{
                text-decoration: none;
                font-size: 12px;
                color: #fff;
                text-transform: capitalize;
                font-weight: 300;
            }
            span{
                font-size: 15px;
                color: #f0f0f0;
                margin-right: 5px;
            }
      }
    }
    .table_content{
        margin: 20px 0;
        height: 80vh;
        overflow-y: scroll;
        border-radius: 10px;
        box-shadow: 2px 4px 5px 1px #c9c9c978;   
        padding: 5px;
        table{
            overflow-y: scroll;
            width: 100%;
           max-height: 800px;
            td:nth-child(1){
                width: 250px;
            }
            td:nth-child(2){
                width: 150px;
            }
            td:nth-child(3){
                width: 200px;
            }
            td:nth-child(4){
                width: 150px;
            }
            td:nth-child(5){
                width: 150px;
            }
            thead{
                border-radius: 5px;
                background-color: #f0f0f0;
                tr{
                    td{
                        padding: 5px;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }
            }

            tbody{
                tr{
                    td{
                        padding:15px 10px;
                        text-align: center;
                        h2{
                            font-family: cursive;
                          font-size: 15px;
                          font-weight: bold;
                          
                          .icons{
                            padding: 5px;
                            font-size: 25px;
                            background-color: #bbd8c4;
                            color: #5ba146;
                            border-radius: 10px;
                          }
                        }
                        p{
                          font-size: 14px;
                          font-weight: 300;
                          color: #062a3c;
                        }
                    }
                    .verified{
                        span{
                            padding: 8px;
                            background-color: #bbd8c4;
                            color: rgb(35, 134, 35);
                            border-radius: 20px;
                            font-size: 14px;
                            font-weight: 500;
                            .icons{
                                font-size: 12px;
                                margin-right: 5px;
                            }
                        }
                    }
                    .wrapper_books{
                        display: flex;
                        align-items: flex-start;
                        text-align: left;
                        .images{
                            img{
                                width: 50px;
                                object-fit: contain;
                            }
                        }
                        .dec_book{
                            margin-left: 5px;
                           h3{
                            font-size: 15px;
                            font-weight: 600;
                            color: #062a3c;
                           }
                           .para{
                            font-size: 14px;
                            margin: 5px 0;
                           }
                           p{
                            span{
                                font-size: 16px;
                                font-weight: 600;
                            }
                           }
                        }
                    }
                    .content_wrapper{
                       display: flex;
                       align-items: center;
                       justify-content: center;

                       .icons{
                          font-size: 25px;
                          padding: 5px;
                          margin: 0 10px;
                          border-radius: 5px;
                          background-color: #eef1ef;
                       }
                    }
                }
            }
        }
    }
}